body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: white;
  font-family: 'Yeseva One', cursive;
}

h2 {
  border-bottom: 1px solid #bbb;
}

header,
main,
footer {
  margin: 1.25rem auto 0 auto;
  padding: 0.5rem;
  max-width: 1000px;
}

header,
footer,
footer a {
  text-align: center;
  background-color: rgb(12, 11, 54);
  color: whitesmoke;
}

header img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#moddate {
  font-size: 12px;
}
