/* font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif; ****************************/
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }

  body, section {
      margin: 0 auto;
  }
  
  h1, section h2 {
    font-family: 'Yeseva One', cursive;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  section:nth-child(2) {
    background-color: rgb(167, 221, 221);
  }

  img {
    max-width: 100%;
  }

  section h2 {
      height: 2em;
  }
  
  section {
    padding: 0 2em;
  }

  div {
      margin-bottom: 10px;
  }

  section a:link, section a:visited {
      color: rgb(250, 51, 51)

  }

  section a:hover, section a:active {
    color: rgb(92, 21, 21)
  }

  header,
footer {
  margin: 0 auto;
  padding: 0.5rem;
}

  header,
footer,
footer a {
  text-align: center;
  background-color: rgb(12, 11, 54);
  color: whitesmoke;
}

  #moddate {
    font-size: 12px;
  }
  
  /*medium view *************************************/
  
  @media only screen and (min-width: 37.5em) {
    main {
      grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
    }

  }
  /*large view *************************************/
  
  @media only screen and (min-width: 60em) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
    }

	main section:nth-child(3) {
		grid-column: span 1;
    }

    body {
        max-width: 1390px;
    }
    
    header,
      footer,
      footer a {
          border-radius: 10px;
    }
  }
  