@media only screen and (min-width: 37.5em) {
    main {
      grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(2) {
		display: block;
    }
    
	main section:nth-child(3) {
        grid-column: span 2;
        margin-top: 40px;
    }

    section {
        padding: 0 2em 2em 2em;
      }

      main section p:nth-child(3) {
        max-width: 100%;
    }


  }