
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }

  h1, section h2 {
    font-family: 'Yeseva One', cursive;
  }

  /*set page center*/
  body, section, footer {
      margin: 0 auto;
  }

  img {
    max-width: 100%;
  }

  /*margin on top of header*/
  header {
    margin: 1.25rem auto 0 auto;
  }
  

  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*2nd column background color*/
  section:nth-child(2) {
    background-color: rgb(212, 238, 255);
  }

  /*Keeps column heights consistent with longer headers*/
  section h2 {
      height: 2em;
  }
  
  /*side padding for columns*/
  section {
    padding: 0 6em;
  }

  /*breathing room on bottom for link*/
  .blockLink {
      margin-bottom: 10px;
      font-weight: bold;
  }

  /*unique colors for links*/
  .blockLink a:link, .blockLink a:visited {
      color: rgb(250, 51, 51)

  }

  .blockLink a:hover, .blockLink a:active {
    color: rgb(92, 21, 21)
  }

  /*padding*/
  header, footer {
    padding: 0.5rem;
  }

  /*margin on top of header*/
  header,
footer,
footer a {
  text-align: center;
  background-color: rgb(12, 11, 54);
  color: whitesmoke;
}

  #moddate {
    font-size: 12px;
  }