@media only screen and (min-width: 64rem) {

    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    nav ul {
        max-width: 1000px;
        margin: 0 auto;
    }

    nav ul li a {
        padding: .6rem 2%;
    }

    header {
        max-width: 1000px;
        margin: 0 auto;
    }

    header img {
        max-height: 100px;
    }

    header h1 {
        font-size: 4.5rem;
    }
}
