/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: block;
    max-width: 760px;
    margin: 0 auto;
}

h1, h2 {
    font-family: playfair display, serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #888;
}

nav button {
    margin: 2%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

nav ul li a {
    display: block;
    padding: 0.8rem 2%;
    text-decoration: none;
    color: black;
}

nav ul.activeLink a {
    background-color: rgba(0,0,0,0.1);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul.hide {
    display: none;
}

header img {
    float: left;
    margin: 5px 10px;
    max-height: 50px;
}

header h1 {
    margin: 10px 0 0 0;
}

header p {
    margin: 0 0 20px 0;
}




