@media only screen and (min-width: 35rem) {

    /*----------Navigation-----------*/

    nav button {
        display: none;
    }
    
    nav ul.hide {
        display: flex;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        display: block;
        flex: 1 1 auto;
    }

    nav ul li a {
        text-align: center;
        border: none;
    }

    /*----------Header-----------*/

    header img {
        max-height: 5rem;
    }

    header h1 {
        font-size: 3.5rem;
    }

    /*-------------footer----------*/

    footer section.contact img.map {
        max-width: 80%;
        display: block;
        margin: 1.5rem;
        justify-self: end;
    }

    footer section.contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*--------------Home - town cards--------------*/

    div.cards section {
        max-width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem auto;
        border-radius: 5px;
    }

    div.cards section:nth-child(even) h2,
    div.cards section:nth-child(even) p {
        grid-column: 2;
    }

    div.cards section:nth-child(even) img {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 6;
        border-radius: 5px;
    }

    div.cards section:nth-child(odd) h2,
    div.cards section:nth-child(odd) p {
        grid-column: 1;
    }

    div.cards section:nth-child(odd) img {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 6;
        border-radius: 5px;
    }

    div.cards section p.townInfo {
        margin-top: 0;
    }

    /*------Home - article---------*/

    main div.articles {
        margin: 0 auto 2rem auto;
        max-width: 90%;
        border-radius: 5px;
    }

    main div.articles picture.articleImg img {
        width: 60%;
    }

    /*---------town page----------*/

    main h2.pageTitle {
        margin: 2rem;
    }

    /*---------town - weather summary----------*/

    div.containWS {
        position: relative;
    }
    
    div.containWS section {
        padding: 0 1rem;
        position: absolute;
        top: 2rem;
        left: 2rem;
        border-radius: 5px;
        background-color: rgba(220, 222, 242, 0.8);
    }

    div.containWS img {
        margin-bottom: 2rem;
    }

    /*------------town - five day forecast----------*/
    
    table.fivedayforecast {
        display: table;
        margin: 0 auto;
        border-collapse: collapse;
    }

    table.fivedayforecast tr th {
        border: 1px solid #222;
        background-color: rgba(65, 31, 140, 0.3);
        padding: 1rem;
        width: 150px;
    }

    table.fivedayforecast tr td {
        padding: 1rem;
        border: 1px solid #222;
        text-align: center;
    }

    /* ---------------FORM------------------ */

    form fieldset {
        margin: 2rem 2%;
        max-width: 40rem;
    }

    form input.submitBtn {
        margin: 0 0 2rem 2%;
        max-width: 20rem;
    }

    form label.above input, form label.above select, textarea {
        max-width: 20rem;
    }

    form #severityScale {
        width: 18rem;
    }

    main h3.pageSubhead {
        margin-left: 2rem;
    }

    /*----------thank you-----------*/

    .standAlone {
        margin: 1rem 1rem 3rem 2rem;
    }

    /*----------gallery----------*/

    div.imageContain {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}