@media only screen and (min-width: 64rem) {

    /*---------- header -----------*/

    header section {
        top: 0;
    }

    /*---------- navigation -----------*/

    nav ul {
        max-width: 60%;
        margin: 0 auto;
    }

    /*---------- rental summaries-----------*/

    main div.rentals {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main div.rentals div:nth-child(3) {
        grid-column: 3 / span 1;
    }

    main div#jeeps {
        grid-template-columns: 1fr 1fr;
    }

    /*------------- weather summary----------*/

    main section.weatherSummary {
        width: 30%;
    }

    /*------------footer-------------*/

    footer section.contact {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer section.contact div.infoContain {
        margin: 1rem;
    }

}