@media only screen and (min-width: 35rem) {

    /*----------header----------*/

    header section {
        top: 2rem;
    }

    /*----------Navigation-----------*/

    nav button {
        display: none;
    }
    
    nav ul.hide {
        display: flex;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        display: block;
        flex: 1 1 auto;
    }

    nav ul li a {
        text-align: center;
        border: none;
    }

    nav .activeLink a {
        border-bottom: 5px solid rgb(251, 133, 0);
        font-style: normal;
        font-weight: normal;
    }
    
    nav ul li a:hover {
        background-color: #023047;
        font-style: italic;
        font-weight: bold;
    }

    /*---------call to action---------*/

    main div.action section {
        top: 4rem;
        margin-left: -235px;
    }

    main div.action section h2 em {
        font-size: 5rem;
    }

    /*---------- rental summaries-----------*/

    main div.rentals, main div#jeeps {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main div.rentals div:nth-child(3) {
        grid-column: 1 / span 2;
    }

    /*------------- weather summary----------*/

    main section.weatherSummary {
        width: 60%;
        margin: 0 auto;
        border-radius: 30px;
    }

    /*------------footer-------------*/

    footer section.contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer section.contact div.infoContain {
        margin: 2rem 0;
    }

}