body {
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: white;
    background-color: #023047;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

body div#displayMessage {
    display: none;
}

/*----------header----------*/

header {
    position: relative;
}

header section {
    position: absolute;
    top: 1rem;
    left: 50%;
    margin-left: -154px;
}

header section h1, header section h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

header section h1 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 7rem;
}

header section h2 {
    position: absolute;
    top: 7rem;
    left: 50%;
    margin-left: -85px;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
}

header picture.headerImg img {
    max-width: 100%;
}

/*---------navigation-----------*/

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

nav button {
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    color: white;
}

nav ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

nav ul.hide {
    display: none;
}

nav .activeLink a {
    font-style: italic;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: rgb(251, 133, 0)
}

/*----------hero and call to action---------*/

main div.action {
    position: relative;
}

main div.action section {
    position: absolute;
    top: 1rem;
    left: 50%;
    margin-left: -153px;
}

main div.action section h2 {
    color: black;
    text-shadow: 4px 4px 30px white;
}

main div.action section a {
    text-decoration: none;
    background-color: #023047;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px black;
}

main div.action section h2 em {
    font-size: 3rem;
    font-family: 'East Sea Dokdo', cursive;
}

main div.action picture.heroImg img {
    max-width: 100%;
}

/*---------- rental summaries-----------*/

main h2.sectionTitle {
    margin: 3rem auto 1rem;
}

main div.rental {
    position: relative;
}

main div.rental p {
    position: absolute;
    top: 1rem;
    left: 2rem;
    text-shadow: 2px 2px 10px black;
    text-align: left;
    font-weight: 600;
}

main div.rental picture img, main div.rental img {
    max-width: 100%;
}

/*------------ weather summary ----------*/

main section.weatherSummary {
    border: 2px solid white;
    padding: 15px;
}

/*-------------forecast------------*/

table.threeDayForecast {
    display: table;
    margin: 0 auto 6rem;
    border-collapse: collapse;
}

table.threeDayForecast tr th {
    font-weight: 400;
    border: 2px solid white;
    padding: .5rem;
    width: 8rem;
}

table.threeDayForecast tr td {
    padding: 1rem;
}

/*------------footer-------------*/

footer section.contact img.map {
    max-width: 80%;
    margin: 2rem 2rem 0;
    border: 2px solid white;
}

footer section.contact div.infoContain {
    margin-left: 2rem;
    text-align: left;
}

footer section.contact div.infoContain h4 {
    margin-top: -15px;
    font-style: italic;
}

footer div.icons {
    margin-top: 4rem;
}

footer div.icons a img {
    width: 50px;
    padding: 20px;
}

footer div p a {
    color: white;
    display: block;
    padding: 1rem;
}

footer div#ancilliaryInfo p#modDate {
    padding: 2rem;
}