@media only screen and (min-width: 37.5em) {
	
    nav ul { 
        display: flex; 
    }

    nav ul li { 
        flex: 1 1 100%; 
    }

    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
            }
            
    nav a {
                font-size: 1rem;
            }
            main {
                grid-template-columns: 1fr 1fr;
            }
            article:nth-child(3) {
                grid-column: span 2;
            }
            main div {
                display: block;
            }
            main div img {
                width: 100%;
                height: auto;
                border: 1px solid #bbb;
            }
        }        